.dialogPokemon{
    .button{
        display: flex;
        justify-content: center;
        align-content: space-between;
        button{
            margin: 16px;}
    }

    .input{
        margin: 16px;
    }

    .select{
        margin: 16px;
    }
}