.userContainer{
    display: flex;
    flex-wrap: wrap;
    div{
      margin: auto;
      margin-top: 10%;
      h2{
        margin: 0 16px;
        text-align: center;
      }
      p{
        margin: 16px;
      }
    }
   
    .button{
        display: flex;
        justify-content: center;
        margin: 16px;

    }

   .containerBoxes{
    user-select: none;
    margin: 16px;
       display: grid;
       grid-template-columns: 150px 150px 150px;
       column-gap: 12px;
        row-gap: 12PX;
       .box{
           height: 100px;
           border: 3px solid white;
           border-radius: 3px;
           box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
           p{
               text-align: center;
           }
        &:hover{
            cursor: pointer;
           border: 3px solid #8f9a27;
           color: #8f9a27;

            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
       }
   }

   .containerLogout{
       display: flex;
        justify-content: center;
        align-items: center;
   }
  }
  